In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('Movie_Analyasis_Data_Movie_SE.csv')

In [31]:
df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/5UkzNSOK561c2QRy2Zr4AkADzLT.jpg,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://screen.nsw.gov.au/project/2067,528085,tt1918734,en,2067,...,2020-10-01,0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The fight for the future has begun.,2067,False,5.8,141
1,False,/aO5ILS7qnqtFIprbJ40zla0jhpu.jpg,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",https://xmovies8.app/,741067,tt10804786,en,Welcome to Sudden Death,...,2020-09-29,0,80.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Welcome to Sudden Death,False,6.6,113
2,False,/kMe4TKMDNXTKptQPAdOF0oZHq3V.jpg,NaN,21000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",https://www.netflix.com/title/81277950,497582,tt7846844,en,Enola Holmes,...,2020-09-23,0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mystery runs in the family.,Enola Holmes,False,7.6,2123
3,False,/zzWGRw277MNoCs3zhyG3YmYQsXv.jpg,NaN,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/mulan-2020d,337401,tt4566758,en,Mulan,...,2020-09-04,57000000,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Mulan,False,7.3,2534
4,False,/86L8wqGMDbwURPni2t7FQ0nDjsH.jpg,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,724989,tt11656172,en,Hard Kill,...,2020-08-25,0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Take on a madman. Save the world.,Hard Kill,False,4.7,141

In [32]:
df.drop(columns=['adult' ,'backdrop_path', 'homepage','video','poster_path', 'id', 'imdb_id','overview','original_title','tagline','status' ], axis=1 , inplace=True)

In [33]:
df.columns.values

array(['belongs_to_collection', 'budget', 'genres', 'original_language',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'title',
       'vote_average', 'vote_count'], dtype=object)

In [34]:
movie_df = df[['title','genres', 'vote_average', 'vote_count','popularity' ,'revenue','budget','release_date' ,'runtime', 'production_companies','production_countries','spoken_languages','original_language' ,'belongs_to_collection' ]]

In [35]:
movie_df.head()

,title,genres,vote_average,vote_count,popularity,revenue,budget,release_date,runtime,production_companies,production_countries,spoken_languages,original_language,belongs_to_collection
0,2067,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",5.8,141,3739.463,0,0,2020-10-01,114.0,"[{'id': 22369, 'logo_path': None, 'name': 'Arc...","[{'iso_3166_1': 'AU', 'name': 'Australia'}]","[{'iso_639_1': 'en', 'name': 'English'}]",en,NaN
1,Welcome to Sudden Death,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",6.6,113,2058.684,0,0,2020-09-29,80.0,[],[],"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",en,NaN
2,Enola Holmes,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",7.6,2123,1636.807,0,21000000,2020-09-23,123.0,"[{'id': 121424, 'logo_path': None, 'name': 'PC...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_639_1': 'en', 'name': 'English'}]",en,NaN
3,Mulan,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",7.3,2534,1168.889,57000000,200000000,2020-09-04,115.0,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...","[{'iso_639_1': 'en', 'name': 'English'}]",en,NaN
4,Hard Kill,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",4.7,141,1034.935,0,0,2020-08-25,98.0,"[{'id': 73685, 'logo_path': None, 'name': 'Emm...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",en,NaN

In [36]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Data columns (total 14 columns):
title                    9998 non-null object
genres                   9998 non-null object
vote_average             9998 non-null float64
vote_count               9998 non-null int64
popularity               9998 non-null float64
revenue                  9998 non-null int64
budget                   9998 non-null int64
release_date             9972 non-null object
runtime                  9976 non-null float64
production_companies     9998 non-null object
production_countries     9998 non-null object
spoken_languages         9998 non-null object
original_language        9998 non-null object
belongs_to_collection    2427 non-null object
dtypes: float64(3), int64(3), object(8)
memory usage: 1.1+ MB

In [37]:
import ast

In [38]:
test = ast.literal_eval(movie_df['genres'][0])

In [39]:
type(test)

list

In [40]:
test

[{'id': 878, 'name': 'Science Fiction'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 18, 'name': 'Drama'}]

In [41]:
#Not necessary to use this function, this is just for testing to see what is going on
def func_genre(x):
    number_of_iterate = range(9998)
    genres_in_row = []
    for n in number_of_iterate:
        test = ast.literal_eval(x[n])
        if len(test) == 7:
            for i in [0,1,2,3,4,5,6]:
                genres_in_row.append(test[i]['name'])
            genres_in_row.append('x')
        if len(test) == 6:
            for i in [0,1,2,3,4,5]:
                genres_in_row.append(test[i]['name'])
            genres_in_row.append('x')
        if len(test) == 5:
            for i in [0,1,2,3,4]:
                genres_in_row.append(test[i]['name'])
            genres_in_row.append('x')
        if len(test) == 4:
            sample =[]
            for i in [0,1,2,3]:
                sample.append(test[i]['name'])
            genres_in_row.append(sample)
            genres_in_row.append('x')
        elif len(test) == 3:
            for i in [0,1,2]:
                genres_in_row.append(test[i]['name'])
            genres_in_row.append('x')
        elif len(test) == 2:
            for i in [0,1]:
                genres_in_row.append(test[i]['name'])
            genres_in_row.append('x')
        elif len(test) == 1:
            genres_in_row.append(test[0]['name'])
        genres_in_row.append('x')
    return genres_in_row

In [42]:
genres_in_row = func_genre(movie_df['genres'])

In [43]:
len(genres_in_row)

39064

In [44]:
movie_df['genres'][15]

"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 10751, 'name': 'Family'}, {'id': 28, 'name': 'Action'}]"

In [45]:
#this is the main function that we can use
def func_genre_list(x):
    number_of_iterate = range(9998)
    genres_in_row = []
    for n in number_of_iterate:
        test = ast.literal_eval(x[n])
        simple_list = []
        for i in range(len(test)):
            simple_list.append(test[i]['name'])
        genres_in_row.append(simple_list)
    return genres_in_row

In [46]:
list_of_genres = func_genre_list(movie_df['genres'])

In [47]:
#create a new column 
movie_df['genre_list'] = list_of_genres

/Users/Ali/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
movie_df.head()

,title,genres,vote_average,vote_count,popularity,revenue,budget,release_date,runtime,production_companies,production_countries,spoken_languages,original_language,belongs_to_collection,genre_list
0,2067,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",5.8,141,3739.463,0,0,2020-10-01,114.0,"[{'id': 22369, 'logo_path': None, 'name': 'Arc...","[{'iso_3166_1': 'AU', 'name': 'Australia'}]","[{'iso_639_1': 'en', 'name': 'English'}]",en,NaN,"[Science Fiction, Thriller, Drama]"
1,Welcome to Sudden Death,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",6.6,113,2058.684,0,0,2020-09-29,80.0,[],[],"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",en,NaN,"[Action, Drama, Thriller]"
2,Enola Holmes,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",7.6,2123,1636.807,0,21000000,2020-09-23,123.0,"[{'id': 121424, 'logo_path': None, 'name': 'PC...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_639_1': 'en', 'name': 'English'}]",en,NaN,"[Crime, Drama, Mystery]"
3,Mulan,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",7.3,2534,1168.889,57000000,200000000,2020-09-04,115.0,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...","[{'iso_639_1': 'en', 'name': 'English'}]",en,NaN,"[Action, Adventure, Drama, Fantasy]"
4,Hard Kill,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",4.7,141,1034.935,0,0,2020-08-25,98.0,"[{'id': 73685, 'logo_path': None, 'name': 'Emm...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",en,NaN,"[Action, Thriller]"